# ApniDukaan Mobile Backend Environment Template

# Replace credentials and 'apnidukaan' database name with your own setup:
DATABASE_URL=postgresql://user:password@localhost/apnidukaan

# Replace with a strong, secret 256-bit key for JWT encoding
SECRET_KEY=super-secret-key-apnidukaan
